.confident {
  padding: 35px 0;
}
.confident__wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}
.confident__img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  margin-left: 50px;
}
.confident__text-box {
  max-width: 1000px;
  &::before {
    content: ":D :P";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    font-weight: bold;
    font-size: 130px;
    line-height: 152px;
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
  }
}
.confident__title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 15px;
  max-width: 450px;
  display: inline-flex;
  flex-direction: column;
  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #FFD600;
    margin: 0 0 16px auto;
  }
}
.confident__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 27px;
}

@include breakpoint-down (1800) {
  .confident__img {
    transform: translateX(100px);
  }
  .confident__text-box {
    transform: translateX(100px);
  }
}
@include breakpoint-down (1600) {
  .confident__img {
    transform: translateX(200px);
  }
  .confident__text-box {
    transform: translateX(200px);
  }
}
@include breakpoint-down (1440) {
  .confident__img {
    transform: translateX(260px);
  }
  .confident__text-box {
    transform: translateX(260px);
    min-width: 60%;
    padding-right: 30px;
  }
}
@include breakpoint-down (1000) {
  .confident__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .confident__img {
    right: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .confident__text-box {
    width: 100%;
    margin-right: 0px;
    padding: 0 20px;
    &::before {
      left: 0;
    }
  }
  .confident__title {
  &::before {
    margin: 0 auto 16px 0;
  }
}
}