.modern {
  padding: 35px 0;
}
.modern__wrapper {
  display: flex;
}
.modern__img {
  vertical-align: middle;
  margin-right: 60px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: auto;
}
.modern__text-box {
  width: 50%;
  position: relative;
  &::before {
    content: ":D :P";
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 0;
    font-weight: bold;
    font-size: 130px;
    line-height: 152px;
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
  }
}
.modern__title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 15px;
  max-width: 450px;
  display: inline-flex;
  flex-direction: column;
  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #FFD600;
    margin: 0 0 16px;
  }
}
.modern__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 27px;
}
.modern__list {
  @include reset-list;
}
.modern__item {
  max-width: 610px;
  margin-bottom: 20px;
  padding-left: 100px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:nth-child(1)::before {
    background-image: url("../img/modern-item1.png");
  }
  &:nth-child(2)::before {
    background-image: url("../img/modern-item2.png");
  }
  &:nth-child(3)::before {
    background-image: url("../img/modern-item3.png");
  }
}
.modern-card__title {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 5px;
}
.modern-card__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}
@include breakpoint-down (1440) {
  .modern__img {
    left: -90px;
    margin-right: -20px;
  }
}
@include breakpoint-down (1400) {
  .modern__img {
    left: -110px;
    margin-right: -50px;
  }
}
@include breakpoint-down (1350) {
  .modern__img {
    left: -150px;
    margin-right: -80px;
  }
  .modern__wrapper {
    padding: 0;
  }
}
@include breakpoint-down (1150) {
  .modern__img {
    left: -240px;
    margin-right: -200px;
  }
  .modern__wrapper {
    padding: 0;
  }
}
@include breakpoint-down (1050) {
  .modern__img {
    left: -300px;
    margin-right: -280px;
  }
  .modern__wrapper {
    padding: 0;
  }
}
@include breakpoint-down (1000) {
  .modern__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .modern__text-box {
    width: 100%;
    padding: 0 20px;
  }
  .modern__img {
    left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@include breakpoint-down (600) {
  .modern__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modern__item {
    margin-bottom: 60px;
    width: 85%;
  }
  .modern-card__text {
    display: none;
  }
}